:root{
    --cinza-claro:#707070;
    --branco: rgb(248, 248, 248);
}
.button{
    background-color: unset;
    border: 1px solid var(--cinza-claro);
    border-radius: 20px;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
    font-size: 20px;
}       

.entrar{
    background-color:var(--branco);
    color:var(--cinza-claro);
    padding: 8px 30px;
}

.cadastrar{
    background-color: var(--cinza-claro);
    color:var(--branco);
    padding: 8px 34.4px;
}

.verModulo{
    background-color: var(--cinza-claro); 
    color: white;
    width: 178px;
    padding: 8px 29px;
}

.verMais{
    background-color: var(--cinza-claro); 
    font-size: 25px;
    line-height: 30.5px;
    color: white;
    width: px;
    padding: 10px 119px;
}

.entrar a {
    text-decoration: none;
  }

.cadastrar a {
    text-decoration: none;
  }

  .verModulo a {
    text-decoration: none;
}

.verMais a{
    text-decoration: none;
}