.linksUteis{
    align-items: center;
    width: 1920px;
    height: 332px;
    background-color:#323237;
}

.conteudo{
    width: 952px;
    height: 225px;
    display: flex;
    justify-content: space-between;
    margin-left: 466px;
    margin-right: 502px;
    padding-top: 63px;
}


.logo img{
   width: 266px;
}

.links p{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    color: white;
    text-align: center;
}

.links ul{
    width: 127px;
    list-style: none;
    margin-top: 15px;
}

.links li{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    font-style: normal;
    margin-top: 5px;
}
.links a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.links a:hover{
    color:#fa2e2e
}

.redesSociais p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: white;
}


.redesSociais ul{
    width: 166px;
    margin-top: 21px;
    display: flex;
    color: white;
    list-style: none;
    font-weight: normal;
    justify-content: space-between;
}


.redesSociais svg{
    font-size: 26px;
    cursor: pointer;
}
.redesSociais a {
    text-decoration: none;
    color: white;

}
.redesSociais a:hover {
    color: #fa2e2e;

}
