.realizacao{
    background-color: rgb(167, 37, 37);
    padding: 75px;
    justify-content: center;

}

.texto{
    color: white;
    font-weight: bold;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.imagem{
    height: 75px;
}