.fundo{
    width: 1110px;
    height: 319px;
    background-color: #F5F5F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.fundo h3{
    text-align: center;
    padding-top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #D2202C;
}

.item{
    display: flex;
}